<div class="devis-container">
  <h1>Nouvelle Offre de Prix</h1>

  <form [formGroup]="devisForm" (ngSubmit)="onSubmit()">
    <div class="card header-info">
      <input formControlName="clientNom" placeholder="Client (ex: LafargeHolcim)">
      <input formControlName="numeroOffre" placeholder="N° Offre (ex: 023/2026)">
      <textarea formControlName="objet" placeholder="Objet de l'offre..."></textarea>
    </div>

    <button type="button" class="btn-section" (click)="addSection()">+ Ajouter une Section (ex: 6-1)</button>

    <div formArrayName="sections">
      <div *ngFor="let section of sections.controls; let sIndex=index" [formGroupName]="sIndex" class="section-card">
        
        <div class="section-title">
          <input formControlName="titre" placeholder="Titre de la section (ex: 6-1 Nettoyage)">
          <button type="button" (click)="removeSection(sIndex)" class="btn-del">Supprimer Section</button>
        </div>

        <div formArrayName="items">
          <table>
            <thead>
              <tr>
                <th style="width: 50%;">Désignation</th>
                <th>Unité</th>
                <th>Qté</th>
                <th>Prix U</th>
                <th><button type="button" (click)="addItem(sIndex)">+ Ligne</button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getItemsControls(sIndex); let iIndex=index; trackBy: trackByFn" [formGroupName]="iIndex">
                <td><textarea formControlName="designation" rows="2" placeholder="Description..."></textarea></td>
                <td><input formControlName="unite" class="short"></td>
                <td><input type="number" formControlName="quantite" class="short"></td>
                <td><input type="number" formControlName="prixUnitaire"></td>
                <td>
                  <button type="button" class="btn-del" (click)="removeItem(sIndex, iIndex)">X</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    <div class="form-group border p-3 bg-light rounded">
      <label class="fw-bold mb-2">Cachet du client (Image) :</label>
      <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
    </div>

    </div>

     

    <button type="submit" class="btn-submit" [disabled]="devisForm.invalid" style="margin-top: 20px;">
        💾 Enregistrer et Générer le PDF
    </button>
  </form>
</div>